[Desktop Entry]
Type=Application
Version=1.0
Name=Pulse Secure Docker
Comment=Run Pulse Secure VPN client inside docker
Exec=run-psecure.sh
Icon=Pulse-Secure128x128
Terminal=false
StartupNotify=true

